@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {
    --light-shade: #F4F7F6;
    --light-accent: #A1B6EA;
    --main-color: #D45A49;
    --dark-accent: #EBB056;
    --dark-shade: #3A6988;
}

html {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 10px;
}

body{
    background-color: var(--dark-shade);
}

#main{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 40% 25%;
    gap: 5%;
}

#canvas {
    display: block;
    width: 100%;
}

#settings{
    background-color: var(--light-shade);
    border-radius: 0.5rem;
    padding: 2%;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;

    color: var(--dark-shade);
    font-size: 2rem;
}

#settings :first-child{
    grid-column: 1 / -1;
}

#game{
    background-color: var(--dark-accent);
    padding: 2%;
}

#score{
    background-color: var(--main-color);
    border-radius: 0.5rem;
    padding: 2%;
}

input[type=number]{
    background-color: inherit;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*:focus {
    outline: 0;
}