body{
    background-color: black;
}

#main{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
}

#canvas {
    display: block;
    width: 100%;
}

#settings{
    border: 5px solid cyan;
}
#game{
    border: 5px solid green;
}
#score{
    border: 5px solid cyan;
}