@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {
    --main-color: #43ffaf;
    --background: #262a33;
    --sub-color: #526777;
    --text-color: #e5f7ef;
    --sub-alt-color: #1f232c;
}

html {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 10px;
}

body{
    background-color: var(--background);
}

#main{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;

    align-items: center;
}

#canvas {
    display: block;
    width: 100%;
}

#game{
    background-color: var(--sub-color);
    padding: 1%;
    margin: 3%;
}

#control {
    background-color: var(--sub-alt-color);
    display: flex;
    gap: 5%;
    margin: auto;
    width: 70%;
    color: var(--sub-color);
    font-size: 0.4vw;
    justify-content: space-evenly;
    padding: 0.4vw;
    border-radius: 0.5vw;
}

#control > h2:hover {
    cursor: pointer;
    color: var(--text-color);
}

.control-active {
    color: var(--main-color);
}